<a href="https://colab.research.google.com/github/mahalakshmi2453028-ops/CodeAlpha_Machine_Learning/blob/main/Find_S_algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
pd.read_csv("/Fish.csv").head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [14]:
print(data)

   Species  Weight Length1  Length2  Length3 Height   Width Class
0    Bream   242.0   Short     25.4     30.0   High  Narrow    No
1    Bream   290.0   Short     26.3     31.2   High  Narrow    No
2    Bream   340.0   Short     26.5     31.1   High  Narrow    No
3    Bream   363.0    Long     29.0     33.5   High  Narrow    No
4    Bream   430.0    Long     29.0     34.0   High    Wide    No
5    Bream   450.0    Long     29.7     34.7   High  Narrow    No
6    Bream   500.0    Long     29.7     34.5   High    Wide    No
7    Bream   390.0    Long     30.0     35.0   High  Narrow    No
8    Bream   450.0    Long     30.0     35.1   High  Narrow    No
9    Bream   500.0    Long     30.7     36.2   High  Narrow    No
10   Bream   475.0    Long     31.0     36.2   High    Wide    No
11   Bream   500.0    Long     31.0     36.2   High  Narrow    No
12   Bream   500.0    Long     31.5     36.4   High  Narrow    No
13   Bream   340.0    Long     32.0     37.3   High    Wide    No
14   Bream   600.0    Long     32.0     37.2   High    Wide    No
15   Bream   600.0    Long     32.0     37.2   High    Wide    No
16   Bream   700.0    Long     33.0     38.3   High    Wide   Yes
17   Bream   700.0    Long     33.0     38.5   High  Narrow   Yes
18   Bream   610.0    Long     33.5     38.6   High    Wide   Yes
19   Bream   650.0    Long     33.5     38.7   High    Wide   Yes
20   Bream   575.0    Long     34.0     39.5   High    Wide    No
21   Bream   685.0    Long     34.0     39.2   High    Wide   Yes
22   Bream   620.0    Long     34.5     39.7   High    Wide   Yes
23   Bream   680.0    Long     35.0     40.6   High    Wide   Yes
24   Bream   700.0    Long     35.0     40.5   High    Wide   Yes
25   Bream   725.0    Long     35.0     40.9   High    Wide   Yes
26   Bream   720.0    Long     35.0     40.6   High    Wide   Yes
27   Bream   714.0    Long     36.0     41.5   High    Wide   Yes
28   Bream   850.0    Long     36.0     41.6   High    Wide   Yes
29   Bream  1000.0    Long     37.0     42.6   High    Wide   Yes
30   Bream   920.0    Long     38.5     44.1   High    Wide   Yes
31   Bream   955.0    Long     38.5     44.0   High    Wide   Yes
32   Bream   925.0    Long     39.5     45.3   High    Wide   Yes
33   Bream   975.0    Long     41.0     45.9   High    Wide   Yes
34   Bream   950.0    Long     41.0     46.5   High    Wide   Yes

In [15]:
# Find all YES rows
yes_rows = data[data['Class'] == 'Yes'].index

# Second YES row-oda Width change panrom
data.loc[yes_rows[1], 'Width'] = 'Narrow'

In [17]:
import pandas as pd
import numpy as np

# Load dataset
data = pd.read_csv("/Fish.csv")

# Refinement: select one species
data = data[data['Species'] == 'Bream']

# Create binary target class (relaxed threshold)
data['Class'] = data['Weight'].apply(lambda x: 'Yes' if x > 600 else 'No')

# Convert numerical attributes to categorical
data['Length1'] = data['Length1'].apply(lambda x: 'Long' if x > 25 else 'Short')
data['Height'] = data['Height'].apply(lambda x: 'High' if x > 10 else 'Low')
data['Width'] = data['Width'].apply(lambda x: 'Wide' if x > 5 else 'Narrow')

# Select features and target
dataset = data[['Length1', 'Height', 'Width', 'Class']]

concepts = np.array(data.iloc[:, :-1])
target = np.array(data.iloc[:, -1])

def find_s(concepts, target):
    for i, val in enumerate(target):
        if val == "Yes":
            hypothesis = concepts[i].copy()
            break

    for i, val in enumerate(concepts):
        if target[i] == "Yes":
            for j in range(len(hypothesis)):
                if val[j] != hypothesis[j]:
                    hypothesis[j] = '?'
    return hypothesis

print("Final Hypothesis:", find_s(concepts, target))

Final Hypothesis: ['Bream' '?' 'Long' '?' '?' 'High' 'Wide']